.movieSections {
    padding: 20px;
    background-color: #000;
    color: white;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.movies {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.movieCard {
    width: 200px;
    text-align: center;
}

.movieImage {
    width: 100%;
    border-radius: 8px;
}

.movieInfo h3 {
    font-size: 19px;
    margin: 10px 0;
}

.loadMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F14141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loadMoreButton:hover {
    background-color: #b00710;
}
