.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    color: #f39c12;
    margin: 0 10px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
