/* Загальний стиль списку серіалів */
.tvShowsList {
    padding: 20px;
    background-color: #000;
    color: white;
    text-align: center;
    min-height: 100vh; /* Щоб сторінка займала весь екран */
}

.tvShowsList h2 {
    margin-bottom: 20px;
    font-size: 29px;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Сітка для відображення серіалів */
.tvShows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Картка одного серіалу */
.tvShowCard {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    color: white;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tvShowCard:hover {
    transform: translateY(-5px);
    box-shadow: 6px 12px rgba(0, 0, 0, 0.5);
}

/* Зображення постера */
.tvShowImage {
    width: 100%;
    height: 300px; /* Фіксована висота для уніфікації вигляду */
    object-fit: cover; /* Щоб постер не спотворювався */
    border-bottom: 3px solid #F14141;
}

/* Інформація про серіал */
.tvShowInfo {
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

.tvShowInfo h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize; /* Назви серіалів будуть з великої літери */
    line-height: 1.2;
}

.tvShowInfo p {
    margin: 5px 0;
    font-size: 16px;
    color: #aaa;
}

/* Рейтинг зірками */
.stars {
    color: #f8e825;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Додаткові стилі для адаптивності */
@media (max-width: 768px) {
    .tvShows {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .tvShowImage {
        height: 250px;
    }

    .tvShowInfo h3 {
        font-size: 16px;
    }

    .tvShowInfo p {
        font-size: 14px;
    }
}
